/* 多页面的通用样式 */
.pager{
    text-align: center;
    margin: 2em o;
    

}

.pager a{
    border:1px solid #d8d8d8;
    padding: 5px 10px;
}
.pager a:hover{
    color: #ef4238;
}

.pager a.select{
    color:#fff ;
    background: #ef4238;
}